/* You can add global styles to this file, and also import other style files */
.flex-container{
  display: flex;
}

.matdat .mat-icon-button{

  left: -46px!important;
}

.margtop20 {
  margin-top: 20px;
}
.marg20 {
  margin: 20px;
}
.margbottom20 {
  margin-bottom: 20px;
}

.dcenter {
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
