<div mat-dialog-title class="flex-container fontEst">
    <label class="titlematd">Clientes</label>
    <button class="titlebar-icon" (click)="Close(false)">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<form  [formGroup]="paisForm" autocomplete="off" >
    <div mat-dialog-content>
        <div class="flexcontent">
          <mat-form-field appearance="fill" [ngClass]="{ 'ng-invalid mat-form-field-invalid':  paisForm.controls.name.errors && paisSubmited }">
            <mat-label>Nombre Cliente</mat-label>
            <input formControlName="name" maxlength="255" type="text"  class="inputtext" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone Cliente</mat-label>
            <input formControlName="phone" maxlength="255" type="text"  class="inputtext" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email Cliente</mat-label>
            <input formControlName="email" maxlength="255" type="text"  class="inputtext" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>SharedKey Cliente</mat-label>
            <input formControlName="sharedkey" maxlength="255" type="text"  class="inputtext" matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>StartDate Cliente</mat-label>
            <input formControlName="startdate"  appOnlyDates type="text" inputmode="numeric"
                   class=" ui-inputtext ui-inputcust ui-widget ng-untouched autocomp"
                   placeholder="Fecha Inicio" matInput [matDatepicker]="FecInicioPicker"
                   autocomplete="off" autocorrect="off" spellcheck="false">
            <mat-datepicker   #FecInicioPicker></mat-datepicker>
            <mat-datepicker-toggle class="matdat" matSuffix [for]="FecInicioPicker"></mat-datepicker-toggle>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>EndDate Cliente</mat-label>
            <input formControlName="enddate"  appOnlyDates type="text" inputmode="numeric"
                   class=" ui-inputtext ui-inputcust ui-widget ng-untouched autocomp"
                   placeholder="Fecha Fin" matInput [matDatepicker]="FecFinPicker"
                   autocomplete="off" autocorrect="off" spellcheck="false">
            <mat-datepicker  #FecFinPicker></mat-datepicker>
            <mat-datepicker-toggle  class="matdat" matSuffix [for]="FecFinPicker"></mat-datepicker-toggle>

          </mat-form-field>

        </div>
    </div>
    <div mat-dialog-actions>
        <button class="boton" (click)="onSubmitCrear()"> Guardar</button>
        <button class="boton" (click)="Close(false)">Cancelar</button>
    </div>
</form>
